* {
  font-family: 'Raleway', sans-serif;
  color: black;
}


html {
  height: 100%;
  background: url("/../static/8WC4QQ0MWC.jpg") no-repeat left center fixed;
  background-size: cover;
}

body {
  text-align: center;
}

header {
  text-align: center;
}

.indexbuttonLink {
  margin: auto;
  padding: 0.3em;
  color: #eeeeee;
  font-size: 1.3em;
  background-color: #900;
  width: 15em;
}

.buttonLink {
  padding: .5em;
  color: white;
  background-color: #900;
}

fieldset {
  background-color: rgba(255,255,255,0.5);
}

a {
  text-decoration: none;
  color: #060;
}

a:hover {
  color: black;
}

#splitLogin {
  padding: 0 1em;
  text-align: center;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;

}

.loginBox {
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;

}

h2 {
  text-align: center;

}

section h1 {
  font-size: 2.5em;
  margin-bottom: -3%;

}

#showItemForm {
  text-align: center;
  font-size: 1.3em;
}

#done {
  color: #b00;
  float: right;
}

#newProductForm {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  display: inline-block;
}

.orderNumber {
  width: 3em;
}

#listDiv {
  background-color: rgba(255, 255, 255, 0.5);
}

#listTable {
  width: 40em;
  padding: .5em;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.20);
}

#listBody td:nth-child(3) {
  text-align: right;
}

#listHeaders th:nth-child(3) {
  text-align: right;
}

#listBody td:nth-child(4) {
  text-align: left;
}

#listHeaders th:nth-child(4) {
  text-align: left;
}

#listHeaders {

}

#tableTitle h3 {
  border-bottom: 1px dotted black;
  margin-bottom: 0;
  padding: 1em;
}

.loginBox {
  display: block;
  margin: 0 auto;
}

fieldset {
  border: none;
  position: relative; center;
  background-color: rgba(0, 0, 0, 0.20);
}
