* {
  color: black;
}


html {
  height: 100%;
<<<<<<< HEAD
  background-image: url("/../static/8WC4QQ0MWC.jpg") ;
  background-size: cover;
}

form {

=======
  background: url("/../static/8WC4QQ0MWC.jpg") no-repeat left center fixed;
  background-size: cover;
}

body {
  border-radius: 1em;
  background-color: rgba(255,255,255,0.5);
  text-align: center;
}

header {
  text-align: center;
>>>>>>> 3b6211dfbed524005c467ce5eea96faccc3e5149
}

.buttonLink {
  padding: .5em;
  color: black;
}

fieldset {
  background-color: rgba(255,255,255,0.5);
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

#splitLogin {
  padding: 0 1em;
  text-align: center;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.5);
}

.loginBox {
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

section h1 {
  font-size: 2em;
  margin-bottom: -3%;

}

#showItemForm {
  text-align: center;
  font-size: 1.3em;
  margin-left: 16em;
}

#done {
  color: #b00;
  float: right;
}

#newProductForm {
<<<<<<< HEAD
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 35em;
=======
  display: inline-block;
}

#formTable >> td {
  text-align: left;
}

#listDiv {
  background-color: rgba(255, 255, 255, 0.5);
>>>>>>> 3b6211dfbed524005c467ce5eea96faccc3e5149
}

#listTable {
  padding: .5em;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  background-color: rgba(0, 0, 0, 0.20);
}

#listBody td:nth-child(3) {
  text-align: right;
}

#listHeaders th:nth-child(3) {
  text-align: right;
}

#listBody td:nth-child(4) {
  text-align: left;
}

#listHeaders th:nth-child(4) {
  text-align: right;
}

#tableTitle h3 {
  border-bottom: 1px dotted black;
  margin-bottom: 0;
}

<<<<<<< HEAD
.loginBox {
  display: block;
  margin: 0 auto;
}

fieldset {
  border: none;
  position: relative; center;
  background-color: rgba(0, 0, 0, 0.20);
}
=======
>>>>>>> 3b6211dfbed524005c467ce5eea96faccc3e5149
